@using ViewModel.Models.ResponseModels
@*
    Update date			Description 
	--------------------------------
    20251115            Initial
*@

@*Declare type received from coResponseller*@
@model List<DeutschAdjResponseViewModel>
@{
    ViewData["Title"] = "Deutsch Adjective";
    var adjectives = Model;
    var selectedType = ViewBag.SelectedType as string;

	var dropdownTypes = adjectives.Select(adj => adj.ArticleTypeList).Distinct().FirstOrDefault();
    var displayTypes = dropdownTypes.Where(t => t != "" || t != "All").ToList();
}

@section Styles {
    <link rel="stylesheet" href="~/css/DeutschAdjective.css" />
}

@functions {
    public string TransformType(string type)
    {
        return type switch
        {
            "Definite" => "Definite Article",
            "Indefinite" => "Indefinite Article",
            "NoArticle" => "No Article",
            "Genitiv" => "Genitive",
            _ => type
        };
	}
}
<h2>@ViewData["Title"]</h2>

<hr />

<form method="get">
    <div class="row">
        <label for="cbType" class="col-md-2 col-form-label fs-5">Type</label>
        <div class="col-md-4">            
            <select id="cbType"
                    name="articleType"
					onchange="this.form.submit()"
					class="form-select">
				@foreach (var type in dropdownTypes)
				{
					<option value=@type selected=@(selectedType == type ? "selected" : null)>@TransformType(type)</option>
				}
			</select>
        </div>
    </div>
    
</form>

@if (string.IsNullOrEmpty(selectedType))
{
    <p></p>
}
else if (selectedType == "All")
{
    @foreach (var type in displayTypes)
    {
        var filtered = adjectives.Where(adj => adj.Type == type).Distinct().ToList();
        if (filtered.Any())
        {
            @Html.Partial("PartialView/AdjTable", filtered)
        }
    }
}
else
{
    var filtered = adjectives
        .Where(adj => adj.Type == selectedType).Distinct().ToList();

    if (filtered.Any())
    {
        @Html.Partial("PartialView/AdjTable", filtered)
    }
    else
    {
        <p></p>
    }
}

